# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Highlight commonly used libraries in Data Science.
- Perform arithmetic operations in a code cell.
- Present information in tables using Markdown.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-Learn
5. TensorFlow

| Data Science Tools       |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
BEN.HDECH EL AMINE